<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Toastmaster Roles</title>
  <link rel="stylesheet" href="css/todos.css"/>
  <script data-main="js/main" src="js/lib/require.js"></script>
</head>

<body>

  <div id="todoapp">

    <header>
      <h1>Club Role</h1>
      <input id="new-todo" type="text" placeholder="New toastmaster club role">
    </header>

    <section id="main">
      <ul id="todo-list"></ul>
    </section>

    <footer>
    </footer>

  </div>

  <div id="instructions">
    Double-click to edit a todo.
  </div>


  <!-- Templates -->

  <script type="text/template" id="clubrole-item-template">
    <div class="role_name">      
      <label><%- name %></label>
      <a class="edit"></a> <a class="destroy"></a>
    </div>
	<input class="edit_name" type="text" value="<%- name %>" />
	<a class="done"></a> <a class="cancel"></a>
	<div class="role_snippet">      
      <label><%- snippet %></label>
    </div>
    <input class="edit_snippet" type="text" value="<%- snippet %>" />
  </script>

  <script type="text/template" id="stats-template">

  </script>

  </body>
</html>
